server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cv?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: admin

  mail:
    host: smtp.gmail.com
    port: 587
    username: ldt0226@gmail.com
    password: cjqvlszkdmijsets
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

app:
  cors:
    allowed-origins:
      https://wevcv.onrender.com

jwt:
  access:
    expiration: 1800000 #30 minutes to millisecond = 30 * 60 * 1000
    secret: S1TZnHDnQS6ojlPYPI+bjd6CXxYhBP/eYmubZsRSANY=
  refresh:
    expiration: 1209600000 #14 days to millisecond = 14 * 24 * 60 * 60 * 1000
    secret: TaqlmGv1iEDMRiFp/pHuID1+T84IABfuA0xXh4GhiUI=
